@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import url(reset.css);

@keyframes fadeIn {
  0% {
    transform: none;
    opacity: 0;
  }
  1% {
    transform: translateZ(20px);
    opacity: 0;
  }
  100% {
    opacity: 0.6;
    transform: none;
  }
}

body {
  font-family: "Oswald", serif;
}

.hidden {
  display: none;
}

.header {
  display: flex;
  justify-content: space-between;
  margin: 3% 3% 0 3%;
  font-size: 2rem;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input::placeholder {
  color: black;
  opacity: 0.6;
}

.main #login-form {
  margin: 10%;
}

#login-form input:first-child {
  width: 10rem;
  height: 2rem;
  border: 0;
  border-radius: 15px;
  background-color: rgba(233, 233, 233, 0.3);
  font-size: 1rem;
  text-align: center;
}

#login-form input:last-child {
  width: 5rem;
  height: 2rem;
  border: 0;
  border-radius: 15px;
  background-color: rgba(233, 233, 233, 0.3);
  color: black;
  font-size: 1rem;
  text-align: center;
}

.main #greeting {
  font-size: 5rem;
  margin: 3% 0;
  animation: fadeIn 0.8s linear;
  opacity: 0.8;
}

#todo-form input {
  margin: 5% 0;
  width: 14rem;
  height: 2rem;
  border: 0;
  border-radius: 15px;
  background-color: rgba(233, 233, 233, 0.3);
  font-size: 1rem;
  text-align: center;
}

.main #todo-list {
  margin: 5% 0;
  width: 50%;
  display: flex;
  flex-direction: column;
}

#todo-list li {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

#todo-list button {
  padding: 0;
  margin-right: 20px;
  font-size: 15px;
  opacity: 0.5;
  border: 0;
  border-radius: 5px;
  box-shadow: 0 0 10px 10px rgba(242, 242, 246, 0.32) inset,
    0 0 0 0 rgba(242, 242, 246, 0.32);
  transition: all 150ms ease-in-out;
}

#todo-list button:hover {
  box-shadow: 0 0 10px 0 rgba(25, 25, 26, 0.324) inset,
    0 0 10px 4px rgba(25, 25, 26, 0.324);
}

#todo-list span {
  font-size: 30px;
}

.footer {
  width: 100%;
  font-size: 1rem;
  position: absolute;
  bottom: 3%;
  display: flex;
  justify-content: center;
}

img {
  position: absolute;
  width: 100vw;
  height: 100vh;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  object-fit: cover;
  opacity: 0.6;
  z-index: -1;
  animation: fadeIn 0.8s linear;
}
